<!DOCTYPE html>
<html>
<style>
    .box-card {
        width: 400px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">

    <el-container>
        <el-header style="text-align: center">
            <h1>{{key}}-{{date}}</h1>
        </el-header>
        <el-main>
            <el-table
                    :data="data"
                    id="detail"
                    stripe
                    >
                <el-table-column
                        label="序号"
                        type="index"
                        width="50">
                </el-table-column>
                <el-table-column
                        label="链接"
                >
                    <template scope="scope">
                        <a :href="scope.row.link">{{scope.row.name}}</a>
                    </template>
                </el-table-column>
                <el-table-column
                        align="right">
                    <template slot="header" slot-scope="scope">
                        <el-button @click="exportExcel(key,date)">导出</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-main>
    </el-container>
</div>

</body>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    console.log({[{.data}]})
    var showData = JSON.parse({[{.data}]})
    new Vue({
        el: '#app',
        data: function () {
            return {
                visible: false,
                key: {[{.key}]},
                date: {[{.date}]},
                data: showData,
            }
        },
        methods: {
            formatter(row) {
                return "<a></a>"
                //return `<a href="${row.link}">${row.name}</a>`
            },
            exportExcel(k,d){
                tableToExcel("detail",k+d)
            }
        }
    })

    function tableToExcel(tableID, fileName) {
        var excelContent = $("#" + tableID).html();
        var uri = 'data:application/vnd.ms-excel;base64,',
            fileName = fileName || 'excelexport',
            template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><meta name="renderer" content="webkit"><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>';
        var ctx = {worksheet:'Worksheet', table: excelContent};
        var a = document.createElement('a');
        document.body.appendChild(a);
        a.hreflang = 'zh';
        a.charset = 'utf8';
        a.type="application/vnd.ms-excel";
        let blob = new Blob([format(template, ctx)]);
        a.href = URL.createObjectURL(blob);
        a.target = '_blank';
        a.download = fileName + '.xls';
        a.tableBorder = 1;
        a.click();
    }

    function format(s, c) {
        return s.replace(/{(\w+)}/g,
            function(m, p) {
                return c[p];
            }
        )
    };
</script>
</html>